<!-- <div class="w3-bar w3-border w3-light-gray w3-center">
    <a href="/" style="width:33%" class="w3-bar-item w3-button w3-mobile">Home</a>
    <a href="/pokesearch" style="width:33%" class="w3-bar-item w3-button w3-mobile">Pokesearch</a>
    <a href="/favorite5" style="width:33%" class="w3-bar-item w3-button w3-mobile">Favorite 5</a>
</div> -->

<nav class="navbar navbar-expand-md bg-danger" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PokeStop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/pokesearch">Poke Search</a>
            </div>
        </div>
    </div>
</nav>
<br>